<header xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar collapse -->
            <div class="collapse navbar-collapse justify-content-center" id="navbar">
                <!-- The standard navbar. -->
                <ul class="navbar-nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                    <li th:if="${user != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/reserve}">Rezervovat vybrané</a>
                    </li>
                    <li th:if="${user != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/my-reservations}">Moje rezervace</a>
                    </li>
                    <li th:if="${user == null}" class="nav-item">
                        <a class="nav-link" th:href="@{/sign-up}">Sing up</a>
                    </li>
                    <li th:if="${user == null}" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li th:if="${user != null}" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>