<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<header th:replace="fragments/navigation :: navbar"></header>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/login-process}" th:object="${login}" method="post">
    <p>Username: <input required type="text" th:field="*{username}" /></p>
    <p>Password: <input required type="password" th:field="*{password}" /></p>
    <p><input type="submit" value="Login" /></p>
</form>
</body>
</html>