<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<header th:replace="fragments/navigation :: navbar"></header>

<h2 class="text-center">Rozvrh na kurtech:</h2>
<section class="container d-flex justify-content-center">
    <div class="margin" th:each="court : ${courts}">
        <h3 th:text="${court.name}"></h3>
        <div class="border" th:each="unit : ${court.trainingUnits}">
            <p th:text="${unit.from} + ' - ' + ${unit.to} "></p>
            <a class="btn btn-light btn-sm" th:if=" ${unit.reservation == null && user != null && !#lists.contains(reservation, unit)}" th:href="@{/add/{id}(id=${unit.id})}" th:text="rezervovat"></a>
            <a class="btn btn-light btn-sm" th:if=" ${unit.reservation == null && user != null && #lists.contains(reservation, unit)}" th:href="@{/remove/{id}(id=${unit.id})}" th:text="'zrušit rezervaci'"></a>
            <p th:if=" ${unit.reservation != null}" th:text="obsazeno"></p>
        </div>
    </div>
</section>
</body>
</html>